* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding-bottom: 0px;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding: 10px;
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: sticky;
  right: 0;
  padding-bottom: 0%;
  bottom: 0;
  left: 0;
  background: #4e5d6c;
}

h3{
  text-align: center;
}

h5{

  font-size: small;
  color: #000;
}

#main{
  padding: 10px;
}

.myphoto {
  position: static;
  height: 220px;
  padding: 2px;
  margin: 0;
}

.myphoto2 {
  position: static;
  height: 120px;
  padding: 10px;
  margin: 0;
}

.myphoto3 {
  position: static;
  height: 245px;
  padding: 10px;
  margin: 0;
}

.myphoto4 {
  position: static;
  height: 375px;
  padding: 10px;
  margin: 0;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px;
  background: #d0d3d6;
  font-family: Ubuntu, sans-serif;
  font-size: xx-small;
}

.navbar {
  padding: 5px;
  margin: 0;
  background-color: #e3e9f0;
}


